{% extends "common/base.twig" %}

{% block body_mod %}{% endblock %}
{% block body %}
<div class="base block">
    <div class="base__wrapper block-wrapper">
        <div class="base__main">
            <div class="breadcrumbs base__breadcrumbs">
                <ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="#" itemprop="item"><span itemprop="name">Главная</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="#" itemprop="item"><span itemprop="name">Сервис</span></a>
                        <meta itemprop="position" content="2">
                    </li>
                </ul>
            </div>
            <h1 class="base__title">О компании</h1>
            <div class="base__about">
                <div class="base__about-title">Сервисный центр "Меронт", Казань</div>
                <div class="base__about-items">
                    <div class="base__about-item">более<br><span>10 лет</span><br>слаженой работы</div>
                    <div class="base__about-item"><span>>7000</span><br>довольных клиентов</div>
                </div>
            </div>
            <div class="base__contacts">
                <div class="base__contacts-title">Получи бесплатную консультацию</div>
                <div class="base__contacts-items">
                    <a href="" class="base__contacts-item base__contacts-item_whatsapp"></a>
                    <a href="" class="base__contacts-item base__contacts-item_telegram"></a>
                    <a href="" class="base__contacts-item base__contacts-item_vk"></a>
                    <a href="tel:88432070155" class="base__contacts-item base__contacts-item_phone">8 (843) 207-01-55</a>
                </div>
            </div>
        </div>
        <div class="base__side">
            <div class="base__side-decor {#base__side-decor_small#}">
                <img src="/assets/images/base.svg" alt="">
            </div>
            <div class="base__side-img">
                <img src="/assets/images/Illustration.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="about block">
    <div class="about__wrapper block-wrapper">
        <div class="about__text about__text_1">Компания Меронт была основана в начале 2011 года. Команда, увлеченная своим делом. Профессионализм достигается трудолюбием и упорством, это невозможно без фанатичного отношения к своей повседневной работе.</div>
        <div class="about__row">
            <div class="about__quote">Мы получаем удовольствие от работы, а вы получаете лучший результат и мы считаем это взаимовыгодным сотрудничеством.</div>
            <div class="about__img about__img_1"><img src="/assets/images/about-hands.png" alt=""></div>
        </div>
        <div class="about__row">
            <div class="about__img about__img_2"><img src="/assets/images/about-hand.png" alt=""></div>
            <div class="about__text about__text_2">Вы позволяете нам ежедневно развиваться и достигать все более лучших результатов, мы благодарны вам за это. Именно поэтому мы помогаем вам каждый день, без перерывов и выходных. <br><br>Темп жизни ускоряется с каждым днем и мы ценим ваше время. Наш опыт и четкий регламент работы сокращает время выполнения одного заказа, что позволяет получить вам доступную стоимость наших услуг. Мы не можем себе позволить упустить множество возможностей и остаться в стороне от происходящего, поэтому мы оптимизируем нашу работу и вы получите результат в рекордно короткие сроки.<br><br>Мы уважаем современные технологии и технические возможности нашего поколения. Не имея возможности создавать, мы спасаем и дарим жизнь вещам, которые вы цените. Мы считаем себя реставраторами, которые такие же гении, как и создатели. И мы готовы на всё , чтобы сделать как было ...<br><br>...а может и чуточку лучше</div>
        </div>
    </div>
</div>
<div class="goals block">
    <div class="goals__decor"><img src="/assets/images/decor.svg" alt=""></div>
    <div class="goals__wrapper block-wrapper">
        <div class="goals__inner">
            <div class="goals__title">Цель компании</div>
            <div class="goals__text">Предоставить фанатам техники apple наилучший сервис по ремонту их любимого гаджета.</div>
            <div class="goals__title">Замысел компании</div>
            <div class="goals__text">Предоставить каждому клиенту в кратчайшие сроки с гарантией, отремонтированный iPhone или iPad без потери связи.</div>
        </div>
        <div class="goals__img"><img src="/assets/images/goals.png" alt=""></div>
    </div>
</div>
<div class="staff block">
    <div class="staff__wrapper block-wrapper">
        <div class="staff__title">Наши сотрудники</div>
        <div class="staff__items">
            <div class="staff-item">
                <div class="staff-item__img"><img src="/assets/images/staff.jpg" alt=""></div>
                <div class="staff-item__name">Акмаль</div>
                <div class="staff-item__position">Директор компании “Меронт”</div>
            </div>
            <div class="staff-item">
                <div class="staff-item__img"><img src="/assets/images/staff2.jpg" alt=""></div>
                <div class="staff-item__name">Роман</div>
                <div class="staff-item__position">Инженер</div>
            </div>
            <div class="staff-item">
                <div class="staff-item__img"><img src="/assets/images/staff3.jpg" alt=""></div>
                <div class="staff-item__name">Евгений</div>
                <div class="staff-item__position">Инженер</div>
            </div>
            <div class="staff-item">
                <div class="staff-item__img"><img src="/assets/images/staff4.jpg" alt=""></div>
                <div class="staff-item__name">Владимир</div>
                <div class="staff-item__position">Инженер</div>
            </div>
            <div class="staff-item">
                <div class="staff-item__img"><img src="/assets/images/staff.jpg" alt=""></div>
                <div class="staff-item__name">Акмаль</div>
                <div class="staff-item__position">Директор компании “Меронт”</div>
            </div>
            <div class="staff-item">
                <div class="staff-item__img"><img src="/assets/images/staff2.jpg" alt=""></div>
                <div class="staff-item__name">Роман</div>
                <div class="staff-item__position">Инженер</div>
            </div>
            <div class="staff-item">
                <div class="staff-item__img"><img src="/assets/images/staff3.jpg" alt=""></div>
                <div class="staff-item__name">Евгений</div>
                <div class="staff-item__position">Инженер</div>
            </div>
            <div class="staff-item">
                <div class="staff-item__img"><img src="/assets/images/staff4.jpg" alt=""></div>
                <div class="staff-item__name">Владимир</div>
                <div class="staff-item__position">Инженер</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}