{% extends "common/base.twig" %}

{% block body_mod %}{% endblock %}
{% block body %}
<div class="contacts block">
    <div class="contacts__decor"><img src="/assets/images/decor.svg" alt=""></div>
    <div class="contacts__wrapper block-wrapper">
        <div class="contacts__title">Контакты</div>
        <div class="contacts-item contacts-item_big">
            <div class="contacts__info">
                <div class="contacts-item__title">TЦ “Сувар Плаза”</div>
                <div class="contacts-item-place">
                    <div class="contacts-item-place__address">Спартаковская, 6</div>
                    <div class="contacts-item-place__info">1 этаж, вход со стороны “Перекрестка”</div>
                </div>
                <div class="contacts-item__time">
                    Мы работаем <span style="color: #ff6a00;">ежедневно</span><br>
                    с &nbsp;<span style="font-size: 16px;">10</span>&nbsp; до &nbsp;<span style="font-size: 16px;">22</span>
                </div>
                <a href="tel:88432070155" class="contacts-item__tel">8 (843) 207-01-55</a>
                <div class="contacts-item-routes">
                    <div class="contacts-item-routes__text">Построить маршрут:</div>
                    <div class="contacts-item-routes__items">
                        <a href="https://2gis.ru/kazan/directions/points/%7C49.15092%2C55.793265%3B2956015537022403" class="contacts-item-routes__item">
                            <img src="/assets/images/2GIS.png" alt="">
                            <span>2GIS</span>
                        </a>
                        <a href="https://yandex.ru/maps/43/kazan/?ll=49.154153%2C55.785069&mode=routes&rtext=~55.793576%2C49.150431&rtt=auto&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D58959279608&z=13" class="contacts-item-routes__item">
                            <img src="/assets/images/YAmaps.png" alt="">
                            <span>Я.Навигатор</span>
                        </a>
                    </div>
                </div>
                <div class="contacts-item-transports">
                    <div class="contacts-item-transports__item contacts-item-transports__item_bus">Автобусы<br><span>31, 37, 47</span></div>
                    <div class="contacts-item-transports__item contacts-item-transports__item_trolleybus">Троллейбусы<br><span>6, 8, 12</span></div>
                    <div class="contacts-item-transports__item contacts-item-transports__item_car">Парковка<br><span>1 час бесплатно, далее 50 ₽/час</span></div>
                </div>
            </div>
            <div class="contacts-item__view">
                <div class="contacts-item__maps">
                    <iframe width="100%" height="100%" src="http://widgets.2gis.com/widget?type=firmsonmap&amp;options=%7B%22pos%22%3A%7B%22lat%22%3A55.793489041435194%2C%22lon%22%3A49.150922298431404%2C%22zoom%22%3A15%7D%2C%22opt%22%3A%7B%22city%22%3A%22kazan%22%7D%2C%22org%22%3A%222956015537022403%22%7D"></iframe>
                </div>
                <div class="contacts-item__images">
                    <div class="contacts-item__direction"><img src="/assets/images/contacts-direction.jpg" alt=""></div>
                    <div class="contacts-item-images">
                        <div class="contacts-item-images__big-pic"><img src="/assets/images/contacts-images-big.jpg" alt=""></div>
                        <div class="contacts-item-images__list">
                            <div class="contacts-item-images__item"><img src="/assets/images/contacts-images.png" alt=""></div>
                            <div class="contacts-item-images__item"><img src="/assets/images/contacts-images2.png" alt=""></div>
                            <div class="contacts-item-images__item"><img src="/assets/images/contacts-images.png" alt=""></div>
                            <div class="contacts-item-images__item"><img src="/assets/images/contacts-images2.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts-item contacts-item_big">
            <div class="contacts__info">
                <div class="contacts-item__title">TЦ “Сувар Плаза”</div>
                <div class="contacts-item-place">
                    <div class="contacts-item-place__address">Спартаковская, 6</div>
                    <div class="contacts-item-place__info">1 этаж, вход со стороны “Перекрестка”</div>
                </div>
                <div class="contacts-item__time">
                    Мы работаем <span style="color: #ff6a00;">ежедневно</span><br>
                    с &nbsp;<span style="font-size: 16px;">10</span>&nbsp; до &nbsp;<span style="font-size: 16px;">22</span>
                </div>
                <a href="tel:88432070155" class="contacts-item__tel">8 (843) 207-01-55</a>
                <div class="contacts-item-routes">
                    <div class="contacts-item-routes__text">Построить маршрут:</div>
                    <div class="contacts-item-routes__items">
                        <a href="https://2gis.ru/kazan/directions/points/%7C49.15092%2C55.793265%3B2956015537022403" class="contacts-item-routes__item">
                            <img src="/assets/images/2GIS.png" alt="">
                            <span>2GIS</span>
                        </a>
                        <a href="https://yandex.ru/maps/43/kazan/?ll=49.154153%2C55.785069&mode=routes&rtext=~55.793576%2C49.150431&rtt=auto&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D58959279608&z=13" class="contacts-item-routes__item">
                            <img src="/assets/images/YAmaps.png" alt="">
                            <span>Я.Навигатор</span>
                        </a>
                    </div>
                </div>
                <div class="contacts-item-transports">
                    <div class="contacts-item-transports__item contacts-item-transports__item_bus">Автобусы<br><span>31, 37, 47</span></div>
                    <div class="contacts-item-transports__item contacts-item-transports__item_trolleybus">Троллейбусы<br><span>6, 8, 12</span></div>
                    <div class="contacts-item-transports__item contacts-item-transports__item_car">Парковка<br><span>1 час бесплатно, далее 50 ₽/час</span></div>
                </div>
            </div>
            <div class="contacts-item__view">
                <div class="contacts-item__maps">
                    <iframe width="100%" height="100%" src="http://widgets.2gis.com/widget?type=firmsonmap&amp;options=%7B%22pos%22%3A%7B%22lat%22%3A55.793489041435194%2C%22lon%22%3A49.150922298431404%2C%22zoom%22%3A15%7D%2C%22opt%22%3A%7B%22city%22%3A%22kazan%22%7D%2C%22org%22%3A%222956015537022403%22%7D"></iframe>
                </div>
                <div class="contacts-item__images">
                    <div class="contacts-item__direction"><img src="/assets/images/contacts-direction.jpg" alt=""></div>
                    <div class="contacts-item-images">
                        <div js-contacts-image data-id="1" class="contacts-item-images__big-pic"><img src="/assets/images/contacts-images-big.jpg" alt=""></div>
                        <div class="contacts-item-images__list">
                            <div js-contacts-image-item data-target="1" data-full-img="" class="contacts-item-images__item"><img src="/assets/images/contacts-images.png" alt=""></div>
                            <div js-contacts-image-item data-target="1" data-full-img="" class="contacts-item-images__item"><img src="/assets/images/contacts-images2.png" alt=""></div>
                            <div js-contacts-image-item data-target="1" data-full-img="" class="contacts-item-images__item"><img src="/assets/images/contacts-images.png" alt=""></div>
                            <div js-contacts-image-item data-target="1" data-full-img="" class="contacts-item-images__item"><img src="/assets/images/contacts-images2.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="consultation consultation_big consultation_gray block">
    <div class="consultation__wrapper block-wrapper">
        <div class="consultation__title consultation__title">Запись на ремонт / консультация</div>
        <div class="consultation__body">
            <div class="consultation__links">
                <a href="" class="consultation__link consultation__link_whatsapp"></a>
                <a href="" class="consultation__link consultation__link_telegram"></a>
                <a href="" class="consultation__link consultation__link_vk"></a>
                <a href="" class="consultation__link consultation__link_phone"></a>
            </div>
            <div class="consultation__buttons">
                <a href="#" class="consultation__button button">Позвоните мне</a>
                <span>или</span>
                <a href="tel:88432070155" class="consultation__button button button_orange">+7 (843) 207 - 01 - 55</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}