<footer class="footer block">
    <div class="footer__top">
        <div class="footer__wrapper block-wrapper">
            <div class="footer-item footer-item_nav footer-item_M-hidden">
                <span class="footer-item__title">Услуги</span>
                <a class="footer-item__link" href="/service/apple/iphone" >Ремонт iPhone</a>
                <a class="footer-item__link" href="/service/apple/ipad">Ремонт iPad</a>
                <a class="footer-item__link" href="/service/smartphones">Ремонт телефонов</a>
            </div>
            <div class="footer-item footer-item_nav">
                <span class="footer-item__title">Сервис</span>
                <a class="footer-item__link" href="#" role="button">Ремонт по записи</a>
                <a class="footer-item__link" href="#" role="button">Узнать статус ремонта</a>
                <a class="footer-item__link" href="#" role="button">Оставить отзыв</a>
            </div>
            <div class="footer-item footer-item_nav">
                <span class="footer-item__title">Информация</span>
                <a class="footer-item__link" href="/warranty">Гарантия и возврат</a>
                <a class="footer-item__link" href="/actions">Акции и скидки</a>
                <a class="footer-item__link" href="/about">О Компании</a>
                <a class="footer-item__link" href="/contacts">Контакты</a>
            </div>
            <div class="footer-item footer-item_contacts">
                <span class="footer-item__title">Контакты</span>
                <span class="footer-item__place">г. Казань. ул. Спартаковская, д. 6, “Сувар Плаза”, 1й этаж с 10:00 до 22:00</span>
                <span class="footer-item__place">г. Казань. ул. Н.Ершова, д. 1а, “Корстон”, 1й этаж с 10:00 до 22:00</span>
                <div class="footer-item__socs">
                    <a href="https://www.facebook.com/merontx" target="_blank" class="footer-item__soc footer-item__soc_facebook"></a>
                    <a href="https://vk.com/meront" target="_blank" class="footer-item__soc footer-item__soc_vk"></a>
                    <a href="https://www.instagram.com/merontman" target="_blank" class="footer-item__soc footer-item__soc_instagram"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__wrapper block-wrapper">
            <div class="footer__copyright">© Meront.ru, 2011-2021.</div>
            <div class="footer__rights">Все права защищены.</div>
            <div class="footer__payments footer__payments_card"><img src="/assets/images/payments-card.svg" alt=""></div>
            <div class="footer__payments footer__payments_cash"><img src="/assets/images/payments-cash.svg" alt=""></div>
            <a href="/policy" class="footer__policy">Политика конфиденциальности</a>
        </div>
    </div>
    <div class="footer__bottom footer__bottom_mobile">
        <div class="footer__wrapper block-wrapper">
            <div class="footer__columns">
                <div class="footer__column">
                    <div class="footer-item__socs">
                        <a href="https://www.facebook.com/merontx" target="_blank" class="footer-item__soc footer-item__soc_facebook"></a>
                        <a href="https://vk.com/meront" target="_blank" class="footer-item__soc footer-item__soc_vk"></a>
                        <a href="https://www.instagram.com/merontman" target="_blank" class="footer-item__soc footer-item__soc_instagram"></a>
                    </div>
                    <a href="/policy" class="footer__policy">Политика конфиденциальности</a>
                    <div class="footer__copyright">© Meront.ru, 2011-2021.</div>
                </div>
                <div class="footer__column">
                    <div class="footer__payments footer__payments_card"><img src="/assets/images/payments-card.svg" alt=""></div>
                    <div class="footer__payments footer__payments_cash"><img src="/assets/images/payments-cash.svg" alt=""></div>
                    <div class="footer__rights">Все права защищены.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
