<header class="header block">
    <div class="header-main block">
        <div class="header-main__wrapper block-wrapper">
            <a href="/" class="header-main__logo">
                <img src="/assets/images/logo-text.svg" alt="Логотип">
            </a>
            <div class="header-main-location">
                <span class="header-main-location__name">ТЦ “Сувар Плаза”</span>
                <a href="#" class="header-main-location__button" role="button" js-open-layer="main/address">Как добраться</a>
            </div>
            <div class="header-main-location">
                <span class="header-main-location__name">ТЦ “Корстон”</span>
                <a href="#" class="header-main-location__button" role="button" js-open-layer="main/address">Как добраться</a>
            </div>
            <div class="header-main-tel">
                <a href="tel:+78432070155" class="header-main-tel__number">+7 (843) 207-01-55</a>
                <a href="#" class="header-main-tel__button" role="button" js-open-layer="main/callback">заказать обратный звонок</a>
            </div>
            <button class="button header-main__button" js-open-layer="main/callback-out">Выезд мастера</button>
        </div>
    </div>
    <div class="header-nav block">
        <div class="header-nav__wrapper block-wrapper">
            <a href="/service/apple/iphone" class="header-nav__item">Ремонт iPhone</a>
            <a href="/service/apple/ipad" class="header-nav__item">Ремонт iPad</a>
            <a href="/service/smartphones" class="header-nav__item">Ремонт телефонов</a>
            <a href="/service/contacts" class="header-nav__item">Контакты</a>
            <button class="button header-nav__button">Выезд мастера</button>
        </div>
    </div>
    <div class="header-mobile block">
        <div class="header-mobile__wrapper block-wrapper">
            <a href="/" class="header-mobile__logo">
                <img src="/assets/images/logo.svg" alt="Логотип">
            </a>
            <div class="header-mobile__locations">
                <span>ТЦ “Сувар Плаза”</span>
                <span>ТЦ “Корстон”</span>
            </div>
            <div class="flex-next"></div>
            <a href="tel:+78432070155" class="header-mobile__tel">+7 (843) 207-01-55</a>
            <button class="header-mobile__button" js-open-layer="mobile/menu"></button>
        </div>
        <div class="header-mobile__title">Ремонт мобильных  устройств в Казани</div>
    </div>
</header>
