include-font('_libreFranklin', 'LibreFranklin-Light', 300)
include-font('_libreFranklin', 'LibreFranklin-Regular', 400)
include-font('_libreFranklin', 'LibreFranklin-Medium', 500)
include-font('_libreFranklin', 'LibreFranklin-SemiBold', 600)
include-font('_libreFranklin', 'LibreFranklin-Bold', 700)
include-font('_libreFranklin', 'LibreFranklin-ExtraBold', 800)