.title,
$title {
   font-family $font-main
   font-weight 700
}

h1,
.title-h1,
$title-h1 {
   @extend $title
}

h2,
.title-h2,
$title-h2 {
   @extend $title
}

h3,
.title-h3,
$title-h3 {
   @extend $title
}

h4,
.title-h4,
$title-h4 {
   @extend $title
}
