.description
  position relative
  padding-top 160px
  padding-bottom 100px
  &__text
    width 760px
    box-sizing border-box
    color $color-dark
    background-color $color-white
    border-radius 25px
    border 2px solid #e8e8e8
    box-shadow 0 20px 50px rgba(103, 103, 103, 0.05)
    padding 55px
    & h2
      font-size 24px
      font-weight 700
      margin-bottom 15px
    & h3
      font-size 18px
      font-weight 600

  &__decor
    width 797px
    position absolute
    pointer-events none
    user-select none
    top 250px
    left calc(100% / 2 + 170px)

  &__links
    width 760px
    display flex
    margin-top 100px
    &:before
      content ''
      width calc(100% / 2 + 200px)
      height 2px
      display block
      position absolute
      background #B7B8C1
      bottom 190px
      left 0

  &__prompt
    position relative
    color $color-dark
    font-size 24px
    font-weight 700
    padding-top 6px
    padding-right 40px
    padding-left 65px
    margin-right auto
    &:after
      content ''
      display block
      position absolute
      svg(share, 18px, $color-dark)
      right 0
      bottom 20px

  &__link
    size 48px
    display flex
    justify-content center
    align-items center
    border-radius 50%
    margin 0 7.5px
    &:before
      content ''
      display block

    &_facebook
      background #4267B2
      &:before
        svg(facebook, 11px, $color-white)
      &:hover
        box-shadow 0 0 10px 1px #4267B2

    &_twitter
      background #55ACEE
      &:before
        svg(twitter, 22px, $color-white)
      &:hover
        box-shadow 0 0 10px 1px #55ACEE

    &_vk
      background #2787F5
      &:before
        svg(vk, 29px, $color-white)
      &:hover
        box-shadow 0 0 10px 1px #2787F5

    &_instagram
      background linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%)
      &:before
        svg(instagram, 24px, $color-white)
      &:hover
        box-shadow 0 0 10px 1px #E1306C

    &_tiktok
      background $color-black
      &:before
        svg(tiktok, 24px, $color-white)
      &:hover
        box-shadow 0 0 10px 1px $color-black

+do(1170)
  .description__decor
    width 540px
    left 740px

  .description__links:before
    width 790px

+do(850)
  .description
    padding-top 50px
    padding-bottom 30px
    &__text
      width 600px
      font-size 14px
      padding 20px
      padding-right 15px
      & h2
        font-size 18px

    &__decor
      width 370px
      left 585px
      top 100px

    &__links
      width 345px
      margin-top 50px
      &:before
        width 360px
        bottom 80px

    &__prompt
      font-size 16px
      padding 3px 25px 0 10px
      &:after
        size 14px 11px
        bottom 10px

  .description__link
    size 30px
    margin 0 2.5px
    &_facebook:before
      size 7px 14px
    &_twitter:before
      size 14px 12px
    &_vk:before
      size 18px 11px
      margin-top 1px
    &_instagram:before
      size 15px 15px
    &_tiktok:before
      size 14px 16px

+do(650)
  .description
    &__text
      width 450px
    &__decor
      left 435px

+do(500)
  .description
    &__text
      width 310px
      font-size 12px
      font-weight 500
      & h2
        font-size 16px

    &__decor
      left 295px
